@media (max-width: 700px) {
    #segment-list {
        width: 234px !important;
        margin: 5px auto !important;
    };

    #competences-segment {
        margin: 5% 5% !important;
    }
};

#list-item {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
};

#segment-list {
    margin: 14px 3px;
    padding: 20px 0px;
};

#circleHover {
    background-color: transparent;
    border: none;
    width: 150px;
}

#item-text {
    text-transform: uppercase;
    margin-bottom: 3px;
}
/////////////////HOVER POPUP TEST avec react awesome reveal////////////
.CircularProgressbar .CircularProgressbar-trail {
    stroke: white;
    stroke-linecap: round;
}