@media (max-width: 700px) {
    #segment-list {
        width: 234px !important;
        margin: 5px auto !important;
    };

    #segment-competences {
        margin: 5% 5% !important;
    }
};

#list-item {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
};

#segment-list {
    // display: flex;
    // width: 48%;
    width: 175px;
    height: 175px;
    margin: 14px 3px;
    // justify-content: space-between;
};

#display {
    display: none;
    width: 175px;
    height: 175px;
}

#segment-list:hover {
    #display {
        display: initial;
    };
}

/////////////////HOVER POPUP TEST avec react awesome reveal////////////
