#list-converter {
    height: 150px;
    overflow-y: scroll;
    
    & #li-converter {
        height: 50px;

        & button {
            border: none;
            width: -webkit-fill-available;
            height: 50px;
            border-bottom: solid 1px rgb(207, 204, 204);
            color: rgb(202, 123, 50);
            font-size: 20px;
            text-align: left;
        }

        & button:hover {
            background-color: rgba(202, 123, 50, 0.219);
            font-size: 1.25em;
            font-weight: bold;
        }
    }
}