.app {
    font-family: 'Open Sans', sans-serif;
}
@media screen and (max-width: 450px) {
    #name-container {
        font-size: 18px;
        left: 0 !important;

        & #name-header {
            font-size: 18px;
            margin: 20px 0 10px;
        }
    };

    
};


// DESKTOP 

// Pour la section du nom prenom titre header
#name-container {
    position: absolute;
    top: 10%;
    z-index: 4;
    left: 20px;

    & #name-header {
        color: rgb(243, 241, 241);
    }
};

// Pour l'arriere plan header 
.overlay {
    background-color: #d1411ce1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.75;
    z-index: 2;
};

i.huge.icon, i.huge.icons {
    position: absolute;
    bottom: 0;
    left: 5%;
    background-color: #222222;
    z-index: 6;
    padding: 1em;
};