.app {
  display: flex; 
  flex-wrap: wrap;
  width: 100%;
}


// Pour la gestion du header horizontal
.header-horizontal {
  display: flex;
  border-bottom:  1px solid rgba(34,36,38,.15);
  background: #F2F7F7 ;
  width: -webkit-fill-available;

  & .my-logo img {
    max-width: 3em;
    margin-right:2em;
  }

  & #centered-elements {
    display: inline-flex;
    flex: auto;
    align-items: center;
    justify-content:center;
  }

  & #menu-button {
    display: flex;
    align-items: center;
    border-right: solid 1px rgba(34,36,38,.15);
    padding: 1em;

    & a {
      margin-left:1em;
      color:rgb(0, 0, 0);
    }

    & a:hover {
      color: rgb(105,105,105);
      text-decoration: underline;
    }
  }

  & .menu-bar .menu {
    display: flex;
    align-items: center;
  }

  & .contact-logo {
    display: flex;
    align-items: center;
  }

  & img.ui.image {
    min-width: fit-content;
  }

  & .logo {
    margin: 1em;
  }

  & #logo-list {
    display: flex;
  }
}

// Description du site
.description {
  width: 100%;

  // Pour la gestion du logo react dynamique au passage de la souris 
  & #react-logo {
    max-width: 8em;
    margin: 2% 45%;
    transition-duration:2s;
    transition-timing-function:ease;
  }
  
  & img:hover#react-logo {
    transform:rotate(360deg);
  }

  & .ui-inverted-segment {
    height:100%;
  }
  & #javascript-section {
    background: #F2F7F7;
  }
} 

.ui.inverted.segment, .ui.primary.inverted.segment {
  background: #F2F7F7;
  color: #858585;
}

// Profil / CV 

.ui[class*="very relaxed"].grid {
  margin-left: -2.5rem;
  margin-right: -2.5rem;
  margin-bottom: inherit;
}

.ui.card:last-child {
  margin-bottom: 0;
  width: 40%;
}

.ui.segment:first-child {
  margin-top: 1em;
}

#cv-segment {
  width: -webkit-fill-available;
}

.ui.grid>[class*="very relaxed"].row>.column, .ui[class*="very relaxed"].grid>.column:not(.row), .ui[class*="very relaxed"].grid>.row>.column {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 3em;
}

#bar-progression {
  width: auto;
  margin-bottom: auto;
}

.ui.list {
  font-size: 1em;
  text-align: left;
}

@media only screen and (min-width: 1200px){
  .ui.container {
      margin-left: auto!important;
      margin-right: auto!important;
  }
}