@media (max-width: 900px) {
    #propos {
        text-align: center !important;
    };

    #propos-second {
        text-align: center !important;
    }

    .ui.column.grid>[class*="five wide"].column, .ui.grid>.column.row>[class*="five wide"].column, .ui.grid>.row>[class*="five wide"].column, .ui.grid>[class*="five wide"].column {
        width: 100% !important;
        padding: 1rem!important;
    }
}

#propos {
    text-align: left;
}

#profil-image {
    margin: auto;
}

#third-column {
    margin-left: 2em;
    
    & #propos-second {
        text-align: right;
    }
}
