#todo-list {
    margin-top: 1em;
}
  
.todo {
    background: #F2F7F7;
    border: 1px solid  #858585;
    border-radius: .3em;
    font-size: 1.2em;
    padding: 1em;
    margin: .5em 0;
}
  
.todo--done {
    opacity: .5;
}
  
.todo-text {
    margin-left: .5em;
}
  
.todo--done .todo-text {
    text-decoration: line-through;
}